@import url('https://fonts.googleapis.com/css?family=Lato:400|Bubblegum+Sans:400');
:root {
    /* Define Colors as colors */
    --red: #ff5470;
    --green: #98C383;
    --yellow: #FFC633;
    --lightYellow: #FFEE5B;
    --mediumYellow: #FFDA47;
    --brown: #805E3D;
    --darkBrown: #6C4A29;
    --lightBrown: #C2A665;
    --black: #252D2E;
    --white: #FAF9F6;
    --grey: #757D7E;
    --lightGrey: #EBF3F9;
    /* Define Color Intensions */
    --background: var(--brown);
    --textColor: var(--white);
    /** Type **/
    --headingFont: 'Bubblegum Sans', sans-serif;
    --bodyFont: 'Lato', sans-serif;
    --h1: 3.052em;
    --h2: 2.441em;
    --h3: 1.953em;
    --h4: 1.563em;
    --h5: 1.25em;
    --smallText: 0.8em;
}

/** Type Scale **/

html {
    font-size: 112.5%;
}

/*18px*/

body {
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    padding-bottom: 300px
}

p {
    margin-bottom: 1rem;
}

p a {
    color: var(--lightGrey);
    text-decoration: none;
    border-bottom: 1px solid var(--green);
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: --h4;
}

h5 {
    font-size: var(--h5);
}

small, .text_small {
    font-size: var(--smallText);
}

blockquote {
    border-left: solid 3px var(--lightBrown);
    padding-left: 1em;
    font-size: var(--smallText);
    font-style: italic;
}

body {
    background: var(--background);
    color: var(--textColor)
}

.dark {
    --background: var(--black);
    --textColor: var(--lightGrey);
}